.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFF;
  font-weight: 400;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 28px 0 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

@media screen and (max-width: 568px) {
  .page {
    padding: 16px 0 24px;
  }
}

* {
  outline: 1px solid red;
}