.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  max-width: 100%;
  padding: 0 48px;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
  }
}