.content__photo-grid {
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1124px) {
  .content__photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
  }
}


@media screen and (max-width: 984px) {
  .content__photo-grid {
    margin: 0 24px;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .content__photo-grid {
    margin: 0 16px;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
  }
}