.place__url-heading {
  max-width: 456px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAA;
  text-decoration: none;
  margin-bottom: 12px;
}

@media screen and (max-width: 984px) {
  .place__url-heading {
    max-width: 352px;
  }
}

@media screen and (max-width: 568px) {
  .place__url-heading {
    max-width: 288px;
  }
}