.place__website {
  max-width: 456px;
  list-style-type: none;
  padding: 0;
  margin: 106px 28px 48px 40px;
  grid-area: place__website;
  display: grid;
 
}

@media screen and (max-width: 1124px) {
  .place__website {
    margin: 106px 0 48px 32px;
  }
}
  
@media screen and (max-width: 984px) {
  .place__website {
    max-width: 352px;
    margin: 46px 0 48px 28px;
  }
}
  
@media screen and (max-width: 568px) {
  .place__website {
    max-width: 288px;
    margin: 32px 16px 32px;
  }
}