.place__website {
  max-width: 456px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-area: place__website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  
@media screen and (max-width: 984px) {
  .place__website {
    max-width: 352px;
  }
}
  
@media screen and (max-width: 568px) {
  .place__website {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}